body {
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
}

button {
  min-width: 20px !important;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 12px;
  div.auth {
    padding: 24px;
    box-shadow: 0px 0px 22px 11px #f1f1f1;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
  }
  div {
    div {
      div {
        h1 {
          text-align: center;
          font-weight: 400;
          margin: 0px;
          font-size: 20px;
        }
      }
      div.auth-logo {
        text-align: center;
        // padding: 24px;
        img {
          width: 200px;
        }
      }
      div.auth-inner-right {
        text-align: right;
        line-height: 32px;
        span, a {
          font-size: 12px;
          color: #656565;
          cursor: pointer;
          text-decoration: none;
        }
        span:hover, span:active, a:hover, a:active {
          color: #2f2f2f;
        }
      }
    }
  }
}

.clear-fix-10 {
  clear: both;
  width: 100%;
  height: 10px;
}

.clear-fix-20 {
  clear: both;
  width: 100%;
  height: 20px;
}

.clear-fix-40 {
  clear: both;
  width: 100%;
  height: 40px;
}

.form-control {
  label {
    color: #c5c5c5 !important;
    font-size: 14px !important;
  }
  div::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  div::after {
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #c5c5c5;
  }
  div:hover::before {
    border-bottom: 2px solid #c5c5c5 !important;
  }
  input {
    color: #5a5a5a !important;
  }
}

.form-control-error {
  label {
    color: #ff0000 !important;
    font-size: 14px !important;
  }
  div::before {
    border-bottom: 1px solid #ff0000;
  }
  div:hover::before {
    border-bottom: 2px solid #ff0000 !important;
  }
  div::after {
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #ff0000;
  }
  input {
    color: #ff0000 !important;
  }
  p {
    color: #ff0000 !important;
  }
}

.btn {
  color: #2f2f2f !important;
  border: 1px solid rgb(148, 148, 148);
  font-size: 14px !important;
}

.cards-wrapper {
  padding: 16px;
  .card{
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 8px;
    position: relative;
    cursor: pointer;
    &.active {
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    }
    .fixed-top {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1;
      button {
        background-color: orange;
      }
    }
    .card-image-wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        object-fit: contain;
        width: 100%;
      }
      .fixed-buttons {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        button {
          background-color: orange;
          color: #fff;
          margin-right: 5px;
          width: 47%;
        }
        button:last-child {
          margin-right: 0px;
        }
      }
    }
    .card-desc {
      p {
        margin: 4px 0px;
        font-size: 14px;
        color: #5a5a5a;
        font-weight: 600;
      }
      .item-name {
        
      }
      .item-price {
        color: #1c78cc;
      }
    }
  }
}